.profile-container{
    background-color: #282C34;
    height: 100vh;
    position: sticky;
    top: 0;
}
.account-info{
    padding: 30px 0 0 30px;
    display: flex;
    align-items: center;
}
.account-info img{
    width: 70px;
    display: block;
}
.info-container{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    color: white;
}
.account-name{
    font-size: 1.3rem;
    font-weight: 700;
}
.account-location{
    font-size: 1.1rem;
    color: gray;
}
.user-information{
    font-size: 1.4rem;
    color: white;
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin: 40px auto;
    padding: 25px 30px;
    border-radius: 15px;
    background-color: #1D86DC;
    font-weight: 600;
    box-shadow: 0 0 50px black;
}
.disabled-color{
    color: rgb(231, 231, 231);
}

.break-text{
    margin-left: 30px;
    font-size: 1.5rem;
    color: white;
    font-weight: 600;
}
.break-btn-container{
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 30px auto;
    padding: 25px;
    border-radius: 25px;
    border: 1px solid white;
    box-shadow: 0 0 15px black;
}
.break-btn-container button{
    display: block;
    border: none;
    background-color: #1D86DC;
    color: white;
    font-size: 1.2rem;
    font-weight: 600;
    padding: 10px;
    border-radius: 3rem;
}
.break-btn-container button:hover{
    cursor: pointer;
    background-color: #176db3;
}
.task-time-info-title{
    font-size: 1.5rem;
    font-weight: 600;
    margin-left: 30px;
    color: white;
}
.time-info{
    margin: 20px auto;
    width: 70%;
    display: flex;
    background-color: #176db3;
    padding: 20px;
    justify-content: space-between;
    font-size: 1.2rem;
    font-weight: 600;
    color: white;
    border-radius: 15px;
}
.task-complete{
    text-align: center;
}
.task-complete button{
    margin-top: 30px;
    padding: 10px 35px;
    border-radius: 15px;
    font-size: 1.1rem;
    font-weight: 600;
    background-color: #1D86DC;
    color: white;
    border: none;
    box-shadow: 0 0 7px #1D86DC;
}
.task-complete button:hover{
    background-color: #176db3;
    cursor: pointer;
}


@media screen and (max-width: 600px) {
    .profile-container{
        border-radius: 0 0 10px 10px;
        height: 100%;
    }
    .account-info{
        flex-direction: column;
        text-align: center;
        margin-right: 40px;
    }
    .user-information{
        flex-direction: column;
        width: 30%;
        height: 200px;
        text-align: center;
    }
    .break-btn-container{
        flex-direction: column;
        width: 70%;
    }
    .break-btn-container button{
        margin-bottom: 10px;
    }
}